# --- Python ---
*.pyc
*.pyo
*.pyd
__pycache__/
**/__pycache__/
*.sqlite3
db.sqlite3

# Виртуальные окружения
.venv/
**/.venv/

# Django migrations
migrations/
**/migrations/

# --- Node.js / React / Vite ---
node_modules/
**/node_modules/
dist/
**/dist/
.env
**/.env

# --- IDE / System ---
.idea/
.vscode/
.DS_Store
Thumbs.db

# --- Output folders ---
build/
**/build/
