:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(220, 220, 220, 0.95);
  background-color: #121212;
  width: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: auto; 
  min-height: 100vh;
  overflow-y: auto;
}